<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Renew | Club</title>

<head>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/bootstrap5.css}" rel="stylesheet">
    <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>-->
</head>

<body>
<header class="page-header">

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Club Name</a>
            </div>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/new}">
                            <img th:src="@{images/new.png}" width="25px" height="25px" alt="new" title="new">
                            New
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/view}">
                            <img th:src="@{images/view.png}" width="25px" height="25px" alt="view" title="view">
                            View all
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/stat}">
                            <img th:src="@{images/stat.png}" width="30px" height="30px" alt="stat" title="stat">
                            Statistics
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<form method="POST" th:action="@{/renew}" th:object="${user}">
    <p>Renew Customer</p>

    <div class="input">
        <label for="name">Name </label>
        <input type="text" id="floatingTextInput" th:field="${user.name}" readonly/>
    </div>

    <div class="input">
        <label for="mobileno">Mobile Number </label>
        <input type="text" th:field="${user.mobileno}" readonly/>
    </div>

    <div class="input">
        <label for="money">Money </label>
        <input type="number" th:field="${user.money}"/>
        <span class="validationError" th:if="${#fields.hasErrors('money')}" th:errors="${user.money}">Money Error</span>
    </div>

    <div class="input">
        <label for="date">Date of Registration </label>
        <input type="date" th:field="${user.date}"/>
        <span class="validationError" th:if="${#fields.hasErrors('date')}" th:errors="${user.date}">Date Error</span>
    </div>

    <div class="input">
        <label for="type">Membership Type </label>
        <!--        <select>-->
        <select th:switch="${user.type}">
            <option type="text" th:case="true" th:text="Member" readonly="readonly"/>
            <option type="text" th:case="false" th:text="'Not Member'" readonly="readonly"/>
        </select>
        <!--            <option type="text" th:case="0" th:field="${user.type}" th:value="${user.type}" th:text="'One Time User'" readonly="readonly">One Time User</option>-->
        <!--        </select>-->
        <span class="validationError" th:if="${#fields.hasErrors('type')}" th:errors="${user.type}">Type Error</span>
    </div>

    <div class="input">
        <label for="period">Period </label>
        <input type="number" th:field="${user.period}"/>
        <span class="validationError" th:if="${#fields.hasErrors('period')}" th:errors="${user.period}">Money Error</span>
    </div>

    <input type="submit" name="submit" th:action="submit" th:value="Submit"/>
    <input type="submit" name="cancel" th:action="cancel" th:value="Cancel"/>
</form>


</body>
</html>